@model Student

@{
    ViewBag.Title = "Home";
}

<div>
    <h3><u>@Model.Firstname's Courses - ID: @Model.Id</u></h3>
    <h5>You are a @ViewData["full"] student</h5>
    
    <p>No courses yet</p>

    <h3><u>Register</u></h3>
    <p>Enter Course ID you would like to register for: </p>
    
    @using (Html.BeginForm("Home", "RegApp", FormMethod.Post))
    {
        @Html.ValidationSummary()
        @Html.TextBox("courseID")
    }

    @Html.Action("Courses")
</div>