<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Home", "Welcome", "RegApp")
                </li>

                <li>
                    @Html.ActionLink("Add Student", "AddStudent", "RegApp")
                </li>

                <li>
                    @Html.ActionLink("Add Course", "AddCourse", "RegApp")
                </li>

                <li>
                    @Html.ActionLink("List of Majors", "ListOfMajors", "RegApp")
                </li>
            </ul>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
